/* .loadingAnimacion{
  font-size: 170%;
  font-weight: bold;
 /*  transition: all 4s ease; 
 /*  animation: rotate 2s infinite; 
} */

.LoadingTodo-container{
  color: rgb(0, 0, 0);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(78, 76, 76, 0.435);
  margin-bottom:10px ;
  border-radius: 30px;
}
.LoadingTodo-completeIcon, .LoadingTodo-deleteIcon{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.7s ease;
  width: 38px;
  height: 38px;
  border-radius: 10px;
}


.LoadingTodo-completeIcon, .LoadingTodo-container , .LoadingTodo-deleteIcon{
  background: linear-gradient(90deg, rgb(41, 40, 40), rgb(96, 86, 86));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}


@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }

  /* 100%{
    transform: rotate3d(0, 1, 0, 360deg);
  } */
}