input {
  display: flex;
  margin: 0 auto;
  background: none;
  border: none;
  outline: none;
  width: 300px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 100px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
}